h1{
    color:#aa9a99;
    padding-right:700px;
}
* {
    border:solid;
}
.header{
    background-color:rebeccapurple;
    display:flex;
    justify-content:space-evenly;
    border:solid;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.footer{
    display:flex;
    justify-content:flex-end;
}
html {
    background-image: url("Hatboy_Studios.jpg"); 
  }
  body{
      background-color: rgb(63,85,79);
  }

  p{
      color:#257abc
    
  }
  image{
      color:#7868ab
  }
  .links{
      margin-right:30px;
  }
  a:link{
      color:powderblue;
  }
  a:visited{
      color:#aeb145;
  }
.item{
    position:relative;
}
.item p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    opacity:0;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.item:hover p{
    opacity:1;
}
.item:hover img{
    opacity:2;
}